body {
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    height: 50px;
}

.navbar-brand {
    padding: 0px 0px 0px 15px;
}

#home {
    background: linear-gradient(90deg, #008b46 0%, #1bbdfd 100%);
    height: 100vh;
}

.top {
    color: white;
    padding: 100px 100px 52px 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#Intro {
    background: linear-gradient(90deg, #008b46 0%, #1bbdfd 100%);
    height: 100vh;
    color: white;
    padding: 75px 0px 0px 10px;
}

#Dashboard {
    height: 100vh;
    padding: 75px 0px 0px 0px;

}

#Dboard {
    padding: 0px 10px 0px 10px;
}

.progress-bar, .progress-bar-striped, .progress-bar-animated {
    color: black;
    width: 0%;
}   

.progtext {
    font-size: 16px;
    margin-top: -21px;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
}

#demo1 {
    width: 50%;
    margin-top: 10vh;
    bottom: 0;
    margin-left: 50vh;
    border-radius: 10%;
    
}

#demo2 {
    width: 50%;
    margin-left: 50vh;
    border-radius: 10%;
    margin-top: -42.5vh;
}


.carousel-item img { 
    margin-left: 27vh;
    width: 300px;
    height: 200px;
    border-radius: 10px;    
}

.carousel-control-prev {
    border-radius: 10%;
    margin-top: 5%;
    height: 50%;
}

.carousel-control-next {
    border-radius: 10%;
    margin-top: 5%;
    height: 50%;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #a70075 0%, #fd621b 100%);
    animation-duration: 1s;
    animation-name: fadein;
}

.overlay-content {
    position: relative;
    top: 100px;
    width: 100%;
    text-align: center;
}

.overlay a {
    font-size: 36px;
    color:white ;
    display: block;
}

.overlay a:hover, .overlay a:focus {
    color: #000000;
}

.overlay .closebtn {
    position: absolute;
    right: 50px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    right: 35px;
  }
}

@keyframes fadein {
    from {
        opacity: 0.0;
      }
    
      to {
       opacity: 1.0;
      }
    }