::-webkit-scrollbar {
    display: none; 
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    letter-spacing: 1px;
}

.navbar {
    height: 50px;
    background-color: #000000;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.navbar-brand {
    padding: 0px 0px 0px 15px;
    color: rgb(255, 255, 255);
}

.nav-item {
    color: rgb(255, 255, 255);
}

.home {

}

.top {
    color: black;
    padding: 100px 100px 52px 100px;
    text-align: center;
    background-color: 	#c0c0c0;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.wrapper-motivatie-theorie-test {
    display: flex;
    justify-content: baseline;
}

.wrapper-motivatie {
    width: 30%;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.motivatie {
    position: relative;
    padding: 30px;
    border-radius: 5px; 
    margin: 30px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.motivatie:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.wrapper-theorie-test {
    width: 70%;
}

.theorie {
    position: relative;
    padding: 30px;
    border-radius: 5px; 
    margin: 30px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.theorie:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
    margin-right: 50px;
}

.test {
    position: relative;
    padding: 30px;
    border-radius: 5px; 
    margin: 30px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.test:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
    margin-right: 50px;
}

.bronnenlijst {
    position: relative;
    padding: 30px;
    border-radius: 5px; 
    margin: 30px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.bronnenlijst:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.conclusie {
    position: relative;
    padding: 30px;
    border-radius: 5px; 
    margin: 30px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.conclusie:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
    margin-right: 50px;
}

.Intro {
    background-color: #ffffff;
    height: 100vh;
    position: absolute;
}

.blok {
    position: absolute;
    color: rgb(0, 0, 0);
    padding: 75px 100px 5px 25px;
    background-color: #c0c0c0;
    width: 30%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);

}

.container {
    margin: 5% 0% 0% 0%;
    position: absolute;
    right:  -20%;
    background-color: rgba(255, 0, 0, 0);
    height: 80%;
    width: 400px;
    float: left;
}

.shelby {
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
    margin: 0px 0px 10px 0px;
}

.drumstel {
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
    margin: 0px 0px 10px 0px;
}

.bal    {
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.Dashboard {
    height: 100vh;
    padding: 75px 0px 0px 0px;
}

.Dboard {
    padding: 0px 10px 0px 10px;
}

.progress-bar, .progress-bar-striped, .progress-bar-animated {
    width: 0%;  /*AANPASSEN PROGRESSIE PROG. BALK*/
}   

.progtext {
    font-size: 16px;
    margin-top: -21px;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.beroepsbeeld {
    background-color:  #ffffff;
    display: flex;
    justify-content: baseline;
}

.events {
    width: auto;
    width: 100%;
    margin: 80px 30px 0px 30px;   
}

.bedrijf-wrapper {
    margin-top: 30px;
}

.foto-infosupport{
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.foto-betabit {
    border-radius: 5px;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.foto-quintor {
    border-radius: 5px;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.foto-ordina {
    border-radius: 5px;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.foto-qompas {
    border-radius: 5px;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

/* .infosupport {
    padding: 30px;
}

.infosupport:hover {
    background-color: white;
    border-radius: 5px;
    transition-duration: .5s;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
} */

.infosupport {
    position: relative;
    padding: 30px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.infosupport:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border-radius: 5px;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.betabit {
    padding: 30px;
}


.betabit:hover {
    background-color: white;
    border-radius: 5px;
    transition-duration: .5s;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.quintor {
    padding: 30px;
}


.quintor:hover {
    background-color: white;
    border-radius: 5px;
    transition-duration: .5s;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.ordina {
    padding: 30px;
}


.ordina:hover {
    background-color: white;
    border-radius: 5px;
    transition-duration: .5s;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.qompas {
    padding: 30px;
    margin: 0px 0px 30px 0px;
}


.qompas:hover {
    background-color: white;
    border-radius: 5px;
    transition-duration: .5s;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.omoda {
    padding: 30px;
}


.omoda:hover {
    background-color: white;
    border-radius: 5px;
    transition-duration: .5s;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.yoursurprise {
    padding: 30px;
}


.yoursurprise:hover {
    background-color: white;
    border-radius: 5px;
    transition-duration: .5s;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.syntess {
    padding: 30px;
}


.syntess:hover {
    background-color: white;
    border-radius: 5px;
    transition-duration: .5s;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.carcollect {
  padding: 30px;
}


.carcollect:hover {
    background-color: white;
    border-radius: 5px;
    transition-duration: .5s;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.colijnit {
    padding: 30px;
}


.colijnit:hover {
    background-color: white;
    border-radius: 5px;
    transition-duration: .5s;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.text-wrapper {
    width: 65%;
}

.foto-omoda {
    border-radius: 5px;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33);
}

.foto-yoursurprise {
    border-radius: 5px;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33); 
}

.foto-syntess {
    border-radius: 5px;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33); 
}

.foto-carcollect {
    border-radius: 5px;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33); 
}

.foto-colijnit {
    border-radius: 5px;
    box-shadow: 0px 0px 43px 6px rgba(0,0,0,0.33); 
}

/*OVERLAY HAMURGER MENU*/
.HZ {
    font-size: 100px;
}

.year {
    color: rgb(0, 0, 0);
    margin-top: -1%;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #baffc9;
    animation-duration: .2s;    /*ANIMATIE VERSCHIJNEN OVERLAY*/
    animation-name: fadein;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center; 
}

.overlay a {
    font-size: 36px;
    color:rgb(0, 0, 0) ;
    display: block;
}

.overlay a:hover, .overlay a:focus {
    color: #000000;
}

.overlay .closebtn {
    position: absolute;
    right: 50px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    right: 35px;
  }
}

@keyframes fadein { /*ANIMATIE VERSCHIJNEN OVERLAY*/
    from {
        opacity: 0.0;
    }
    
    to {
       opacity: 1.0;
    }
}